
// Credit u/slippy_jr https://whentowakeup.com/
$background:  linear-gradient( rgba(39, 39, 39, 0.98), rgba(39, 39, 39, 0.98) ), url(https://i.imgur.com/0X9bfZ0.gif);

$vignette-shadow: inset -1px 2px 42px 22px rgba(0, 0, 0, 0.27);

$transition-time: .2s;

$dark-grey: #333333;
$grid-color: #656565;
$text-color: #999999;
$text-hover: #c8a703;

$warm-2: #f6c852;
$warm-4: #fa804a;
$warm-8: #ef5d38;
$warm-16: #ec5342;
$warm-32: #fa455b;
$warm-64: #ea4157;
$warm-128: #d23962;
$warm-256: #c0346b;
$warm-512: #ab2d77;
$warm-1024: #942783;
$warm-2048: #701b6e;
$warm-gradient: linear-gradient(to left, #8a2387, #e94057, #f27121);

$cold-2: #EAFFFF;
$cold-4: #ABE6E6;
$cold-8: #72D0F0;
$cold-16: #40AED2;
$cold-32: #69A6F0;
$cold-64: #3D81D3;
$cold-128: #818DF6;
$cold-256: #3A4CF6;
$cold-512: #174296;
$cold-1024: #07296D;
$cold-2048: #01102D;
$cold-gradient: linear-gradient(45deg, #30eef4 0%, #075aff 100%);

$forest-2: #E0F7C4;
$forest-4: #C9F09A;
$forest-8: #79E980;
$forest-16: #38ee7d;
$forest-32: #28cc83;
$forest-64: #16C86C;
$forest-128: #54B666;
$forest-256: #27AC40;
$forest-512: #5B9C5A;
$forest-1024: #298528;
$forest-2048: #046802;
$forest-gradient: linear-gradient(45deg, #79E980 0%, #046802 100%);

