$bg-color: #333333;
$grid-color: #656565;
$text-color: #a8a8a8;

$warm-2: #FFFCCF;
$warm-4: #F3ED96;
$warm-8: #F1B132;
$warm-16: #F28C33;
$warm-32: #D06A10;
$warm-64: #EA6822;
$warm-128: #EC907B;
$warm-256: #F3765A;
$warm-512: #F37255;
$warm-1024: #F2512D;
$warm-2048: #FB2E00;
$warm-gradient: linear-gradient(45deg, #ffe032 0%,#ff0b07 100%);

$cold-2: #EAFFFF;
$cold-4: #ABE6E6;
$cold-8: #72D0F0;
$cold-16: #40AED2;
$cold-32: #69A6F0;
$cold-64: #3D81D3;
$cold-128: #818DF6;
$cold-256: #3A4CF6;
$cold-512: #174296;
$cold-1024: #07296D;
$cold-2048: #01102D;
$cold-gradient: linear-gradient(45deg, #30eef4 0%,#075aff 100%);

