@import 'core/vars';
@import 'fonts/Rajdhani.scss';

body {
  background-color: $bg-color;
  font-family: Rajdhani;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &__scores {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-size: .9em;
  cursor: pointer;
}
