@import 'core/vars';
@import 'typography/text';
@import 'fonts/Rajdhani.scss';


#root {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: $background;

  font-family: Rajdhani;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;

  -webkit-box-shadow: $vignette-shadow;
  -moz-box-shadow: $vignette-shadow;
  box-shadow: $vignette-shadow;
}

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &__scores {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


