@import 'core/vars';
@import 'mixins/warm';
@import 'mixins/cold';
@import 'mixins/forest';
@import 'template/tile';

.Tile {
  @include warm;
  @include cold;
  @include forest;
  @extend .tile-template;

  transition: background-color $transition-time linear;

  p {
    color: $dark-grey;

    @media screen and (min-width: 320px) {
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
    }
    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity $transition-time linear;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity $transition-time linear;
  }

  &__content {
    &-enter {
      transform: scale(1.5);
    }

    &-enter-active {
      transform: scale(1);

    }

    &-exit {
      transform: scale(1);
    }

    &-exit-active {
      transform: scale(.7);
    }

    &-enter-active,
    &-exit-active {
      transition: opacity 150ms, transform 150ms;
    }

  }
}
