.Tile {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 90px;
  width: 90px;
  transition: transform .2s linear;
  border-radius: 5px;

  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }
}
