@import 'core/vars';
@import 'mixins/warm';
@import 'mixins/cold';
@import 'mixins/forest';
@import 'template/tile';

.Tile {
  @include warm;
  @include cold;
  @include forest;
  @extend .tile-template;

  transition: all .2s ease-in-out;

  p {
    color: #333333;
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 200ms linear;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
  }

  &__content {
    &-enter {
      transform: scale(1.5);
    }

    &-enter-active {
      transform: scale(1);

    }

    &-exit {
      transform: scale(1);
    }

    &-exit-active {
      transform: scale(.7);
    }

    &-enter-active,
    &-exit-active {
      transition: opacity 150ms, transform 150ms;
    }

  }
}
