.tile-template {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 90px;
  width: 90px;
  transition: transform .2s ease-in-out;
  border-radius: 50%;
  font-size: 1.6em;
  -webkit-box-shadow: -10px 10px 39px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 10px 39px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 10px 39px -8px rgba(0, 0, 0, 0.75);
}
