p, button, a, h1, h2, h6 , span {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f2f2f2;
  font-weight: 200;
  font-family: Rajdhani;
}

a {
  font-size: .9em;
  cursor: pointer;
}

p {
  font-weight: 400;
}

h6 {
  font-size: 1.1em;
  margin: .5rem 0;
}
